body{
    margin: 40px;
    font-family: "Roboto", "sans-serif";
    display: flex;
    flex-direction: column;
    background: bisque;

}
.content{
    display: flex;
    flex-direction: row;
    min-width: 720px;
    column-gap: 100px;
    justify-content: center;
    align-items: flex-start;
}
h1{
    text-align: center;
    font-size: xxx-large;
}
h2{
    margin-top: 0;
}
.options{
    width: 30%;
}

input[type='radio'][name='buttonGroup']{
    display: none;
}
label.mode-button{
    width: 240px;
    height: 40px;
    font-size: medium;
    border-radius: 4px;
    border: none;
    /*transition: background-color 80ms;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 4px 4px;
    background: lightgrey;
}
input[name='buttonGroup']:checked + label { background-color:darkgrey; }

.buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 auto;
}
.grid-size{
    margin: 15px 10px 10px 0;
    font-weight: bold;
}
.canvas{
    flex: 0 0 auto;
    width: 480px;
    height: 480px;
    display: grid;
    background: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.canvas-box{
}

.black{
    background: black;
}
.eraser{
    background: white;
}
